.headingfinancetracker
{


    color: rgb(68, 119, 163);
    font-weight: 700;
    font-size :3ch;
    border: 1px solid  ;
    border-radius: 5px;
    padding: 10px;
    background-color: aliceblue;
}
table, th, td {
    border:1px solid black;
   
  }
  .Tablefinancem{
    padding-top: 25px;
    align-items: center;
    display: inline-block;

  }
  .addtransaction {
    background-color: #67a3db; /* Green */
    border: none;
    color: white;
    padding: 7px 14px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    border-radius: 5px;
   margin-right: 700px;
   cursor: pointer;
  }
  .imgwidth{
    width: 40px;
  }
  .up {
    transform: rotate(-135deg);
    -webkit-transform: rotate(-135deg);
  }
  .arrow {
    border: solid black;
    border-width: 0 3px 3px 0;
    display: inline-block;
    padding: 3px;
    margin: 2px;
  }
  .down {
    transform: rotate(45deg);
    -webkit-transform: rotate(45deg);
  }
  .vvv{
    margin-top: 50px;
  }
  .itemd{
    color: red;
  }